.about-us {
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  color: var(--basic-white);
}

.about-us__title {
  padding-top: 33px;
  margin-left: 49px;
}

.about-us__text {
  margin-left: 49px;
  margin-right: 60px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  &--bold {
    font-weight: 700;
  }
}
