.companion-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--basic-blue-pale);
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}

.companion-card__lvl {
  z-index: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  top: -5px;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;

  @media (min-width: $tablet-width) {
    top: 38px;
    left: 33px;
  }

  @media (min-width: $desktop-width) {
    color: var(--basic-white);
    top: -216px;
    left: 50px;
  }

  &::after {
    position: absolute;
    top: 0;
  }

  &--80::after {
    content: url("../img/form-80.svg");
  }
}

.companion-card__lvl-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding-top: 6px;
  color: var(--special-grey-light);

  @media (min-width: $desktop-width) {
    color: var(--basic-white);
  }

  &::before {
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, 0);
    content: "";
    width: 51px;
    min-height: 1px;
    background-color: var(--special-grey-light);
    opacity: 0.3;

    @media (min-width: $desktop-width) {
      color: var(--basic-white);
      min-height: 2px;
      opacity: 1;
    }
  }
}

.companion-card__avatar {
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    margin-top: 78px;
    margin-right: 36px;
    border-radius: 5%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -156px;
    left: 1095px;
    z-index: 3;
    margin-top: 0;
    margin-right: 0;
    border-radius: 5% 5% 0 0;
  }
}

.companion-card__avatar-change-label {
  margin-top: 13px;
  cursor: pointer;

  &:hover {
    background-color: var(--basic-white-gray14);
  }

  &:active {
    background-color: var(--special-blue-light);
  }

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    margin-left: 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    align-self: flex-start;
    margin-right: 95px;
    padding-top: 16px;
    padding-bottom: 12px;
    margin-top: 13px;
  }
}

.companion-card__avatar-change-label-hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.companion-card__tags {
  @include reset;
  margin-top: 25px;
  border: 1px solid var(--basic-white-gray);
  border-radius: 10px;

  &--transport {
    margin-top: 17px;
    margin-bottom: 63px;

    @media (min-width: $tablet-width) {
      order: -4;
      width: 306px;
      min-height: 100px;
      position: absolute;
      top: 84px;
      left: 228px;
    }

    @media (min-width: $desktop-width) {
      width: 382px;
      top: 92px;
      left: 996px;
    }
  }

  &--tags {
    &:hover {
      border: 1px solid var(--basic-white-gray15);
    }

    &:focus-within {
      border: 1px solid var(--basic-blue);
    }

    @media (min-width: $tablet-width) {
      margin-top: 52px;
      margin-left: 35px;
      margin-bottom: 87px;
    }

    @media (min-width: $desktop-width) {
      order: -1;
      margin-left: 63px;
      margin-top: 87px;
      margin-bottom: 69px;
    }
  }
}

.companion-card__tags-legend {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--basic-blue-light);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: 0.1em;
  }

  &--tags {
    @media (min-width: $tablet-width) {
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      text-align: right;
    }
  }

  &--tags-abs {
    @media (min-width: $desktop-width) {
      position: absolute;
      right: 29px;
      top: -11px;
      background-color: var(--basic-blue-pale);
    }
  }
}

.companion-card__tags-list {
  box-sizing: border-box;
  color: var(--special-grey-light);
  opacity: 0.6;
  background-color: transparent;
  border: none;
  width: 268px;
  min-height: 75px;
  resize: none;
  overflow: hidden;
  padding-left: 25px;
  padding-top: 17px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 616px;
    min-height: 80px;
    padding-top: 29px;
    padding-left: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 731px;
    min-height: 88px;
  }
}

.companion-card__transports-list {
  @include reset-list;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 13px;
  }
}

.companion-card__transport-wrapper {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  background-color: var(--basic-white);
  text-align: center;
  overflow: hidden;


  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }
}

.companion-card__transport-tooltip {
  display: none;
}

.companion-card__transport-wrapper:hover .companion-card__transport-tooltip {
  display: block;
  position: absolute;
  max-width: 170px;
  height: 63px;
  transform: translate(0, 100%);
  bottom: -7px;
  z-index: 3;

  &--plane {
    left: -58px;

    @media (min-width: $tablet-width) {
      left: -53px;
    }
  }

  &--bus {
    left: -69px;

    @media (min-width: $tablet-width) {
      left: -62px;
    }
  }

  &--bike {
    left: -50px;

    @media (min-width: $tablet-width) {
      left: -45px;
    }

    @media (min-width: $desktop-width) {
      left: -43px;
    }
  }

  &--walk {
    left: -40px;

    @media (min-width: $tablet-width) {
      left: -34px;
    }
  }
}

.companion-card__tags,
.companion-card__transports-list,
.companion-card__tags-legend,
.companion-card__tags-list {
  @media (min-width: $tablet-width) {
    transform: rotate(180deg);
  }
}

.companion-card__transports-pic {
  width: 60%;
  height: 60%;
  opacity: 0.15;
  padding-top: 6px;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
  }

  &--active {
    opacity: 1;
  }
}

.companion-card__transport-input:checked + .companion-card__transports-pic {
  opacity: 1;
}

.companion-card__transport-input:checked:hover + .companion-card__transports-pic {
  opacity: 0.7;
//  box-shadow: 0 2px 6px var(--shadow-modal5);
}

.companion-card__transport-input:checked:active + .companion-card__transports-pic {
  opacity: 0.3;
  // background-color: #e2e5f1;
}

.companion-card__transport-input:not(:checked) + .companion-card__transports-pic {
  opacity: 0.2;
}

.companion-card__transport-input:not(:checked):hover + .companion-card__transports-pic {
  opacity: 0.5;
  // box-shadow: 0 2px 6px var(--shadow-modal5);
}

.companion-card__transport-input:not(:checked):active + .companion-card__transports-pic {
  opacity: 0.2;
  // background-color: var(--basic-white-gray16);
}
