.companions {
  background-color: var(--basic-blue-dark);
}

.companions__container {
  background-color: inherit;
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/smolov-back-mobile@1x.png"),
    url("../img/rogovaya-back-mobile@1x.png"),
    url("../img/back-mobile@1x.jpg");
  background-position: top 63px right 25px, top 335px left -12px, top 62px left;
  background-repeat: no-repeat, no-repeat, no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../img/rogovaya-back-tablet@1x.png"),
      url("../img/smolov-back-desktop@1x.png"),
      url("../img/back-tablet.png");
    background-position: top 134px right 72px,
      top 481px left 40px,
      top 124px left 39px;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }

  @media (min-width: $desktop-width) {
    min-height: 750px;
    padding-top: 100px;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;

    background-image: url("../img/rogovaya-back-tablet@1x.png"),
      url("../img/smolov-back-desktop@1x.png"),
      url("../img/back-tablet.png");
    background-position: bottom 24px left 189px, bottom 418px left 547px, top 123px left 59px;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

.companions__desc-wraper {
  padding-top: 91px;
  margin-left: -5px;

  @media (min-width: $tablet-width) {
    align-self: end;
    padding-left: 37px;
    padding-top: 191px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.companions__title {
  @include reset;
  align-self: start;

  @media (min-width: $desktop-width) {
    margin-top: 180px;
    margin-left: -31px;
  }
}

.companions__text {
  align-self: start;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  width: 217px;
  margin-bottom: 19px;
  margin-top: 20px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 34px;
    width: 427px;
    margin-top: 57px;
    margin-left: 2px;

    br {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
    margin-left: -27px;
  }

  &--bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 47px;

    br {
      display: none;
    }

    @media (min-width: $tablet-width) {
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 24px;
      margin-top: 39px;

      br {
        display: inline;
      }
    }
  }
}

.companions__companions-list {
  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 0;
  }
}

.companions__show-all {
  margin-top: 19px;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 131px;
    bottom: 47px;
    /*fix макета:*/
    width: 280px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
