.companions-list {
  @include reset-list;
  display: grid;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 175px;
    grid-gap: 60px;
    position: relative;
    left: 65px;
  }
}

.companions-list__item-wrapper {
  margin-top: 9px;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    /* height: 483px; */
  }
}

.companions-list__item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.companions-list__item-pic {
  border-radius: 10px 10px 0 0;
  width: 270px;
  height: 270px;

  @media (min-width: $tablet-width) {
    border-radius: 20px 20px 0 0;
    width: 285px;
    height: 285px;
  }
}

.companions-list__lvl {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 18px;
  left: 17px;
  width: 60px;
  height: 60px;
  background-color: var(--special-black-transp);
  border-radius: 50%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    top: 21px;
    left: 22px;
  }

  &::after {
    position: absolute;
    top: 0;
  }

  &--99::after {
    content: url("../img/index-99.svg");
  }

  &--80::after {
    content: url("../img/index-80.svg");
  }
}

.companions-list__lvl-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  &::before {
    position: absolute;
    left: 15px;
    top: 33px;
    content: "";
    width: 30px;
    min-height: 1px;
    background-color: var(--basic-white);
    opacity: 0.3;
  }
}

.companions-list__countries {
  @include reset-list;
  position: absolute;
  top: 259px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media (min-width: $tablet-width) {
    top: 272px;
    left: 50%;
  }
}

.companions-list__country {
  @include reset;
}

.companions-list__description {
  width: 270px;
  min-height: 158px;
  background-color: var(--basic-white);
  color: var(--basic-blue-light);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;

  @media (min-width: $tablet-width) {
    width: 285px;
    border-radius: 0 0 18px 18px;
  }
}

.companions-list__name {
  @include reset;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 22px;
    margin-top: 29px;
    margin-left: 68px;
  }

  &::before {
    content: "";
    left: -15px;
    top: 9px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--special-red-pink);

    @media (min-width: $tablet-width) {
      left: -22px;
      top: 9px;
      width: 8px;
      height: 8px;
    }
  }

  &--online::before {
    background-color: var(--special-green);

    /* @media (min-width: $tablet-width) {
      content: url("../img/dot-online-big.png");
    } */
  }
}

.companions-list__tag-list {
  @include reset-list;
  width: 188px;
  margin-left: 39px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--special-grey);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
    width: 260px;
    margin-left: 9px;
    margin-top: 24px;
  }
}

.companions-list__tag-item {
  padding-left: 6px;
}

.companions-list__transport {
  @include reset;
  align-self: center;
  /* width: 120px; */
  min-height: 25px;
  list-style: none;
  display: flex;
  margin-top: 17px;
  margin-left: 7px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
    margin-bottom: 26px;
  }
}

.companions-list__transport-item {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  opacity: 0.15;

  &--active {
    opacity: 1;
  }

  &--plane {
    background-image: url("../img/plane2.svg");
    margin-left: 0;
  }

  &--bus {
    background-image: url("../img/bus2.svg");
    margin-left: 10px;
  }

  &--bike {
    background-image: url("../img/bike2.svg");
    margin-left: 4px;
  }

  &--walk {
    background-image: url("../img/run2.svg");
    margin-left: 10px;
  }
}
