.companions-catalog {
  background-color: var(--basic-blue-pale);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--basic-blue-light);
  z-index: -1;

  @media (min-width: $desktop-width) {
    align-items: end;
    /* padding-top: 2608px; */
  }
}

.companions-catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 11px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 270px;

  @media (min-width: $tablet-width) {
    width: 688px;
    margin-top: 13px;
    gap: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 951px;
    gap: 31px;
  }
}

.companions-catalog__item-wrapper {
  background-color: var(--basic-white);
  border-radius: 20px;
  /* margin-top: 12px; */

  @media (min-width: $tablet-width) {
    /* margin-top: 41px; */
  }

  &:first-child {
    margin-top: 28px;
  }
}

.companions-catalog__item {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 22px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
    height: 285px; /* без этого высота увеличивается, не понимаю, что дает такой эффект*/
  }

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 242px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--special-red-pink);

    @media (min-width: $tablet-width) {
      top: 44px;
      left: 468px;
      width: 8px;
      height: 8px;
    }

    @media (min-width: $desktop-width) {
      top: 57px;
      left: 321px;
    }
  }

  &--online::before {
    content: "";
    background-color: var(--bright-green);
  }

  &--fix::before {
    left: 502px;
  }
}

.companions-catalog__desc-wrapper {
  position: relative;
  display: flex;
  padding-left: 18px;

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.companions-catalog__avatar-link {
  position: relative;

  &::after {
    position: absolute;
    top: 39px;
    left: 50px;
    content: "";
    width: 31px;
    height: 31px;
    background-image: url("../img/heart.svg");
    background-color: var(--basic-white-gray4);
    background-size: 40%;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center center;

    @media (min-width: $tablet-width) {
      width: 50px;
      height: 50px;
      top: 158px;
      left: 387px;
    }

    @media (min-width: $desktop-width) {
      top: 188px;
      left: 489px;
    }
  }

  &--liked::after {
    content: "";
    background-image: url("../img/heart-active-red.svg");
    background-color: var(--basic-white-pink);
  }
}

.companions-catalog__avatar-wrapper {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
    margin-left: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    height: 285px;
  }
}

.companions-catalog__avatar {
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 20px 0 0 20px;
  }
}

.companions-catalog__name {
  margin: 0;
  padding: 0;
  margin-left: 16px;
  text-decoration: none;
  margin-top: -4px;

  @media (min-width: $tablet-width) {
    margin-left: 33px;
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 62px;
    margin-top: 45px;
  }
}

.companions-catalog__name-link {
  text-decoration: none;
  color: var(--basic-blue-light);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;

    br {
      display: none;
    }
  }
}

.companions-catalog__likes {
  position: absolute;
  top: 47px;
  left: 104px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    top: 174px;
    left: 461px;
  }

  @media (min-width: $desktop-width) {
    top: 202px;
    left: 546px;
  }
}

.companions-catalog__tag-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 23px;
  margin-top: 8px;
  width: 176px;
  /* margin-bottom: -2px; */
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 73px;
    left: 234px;
    font-size: 20px;
    line-height: 23px;
    width: 227px;
  }

  @media (min-width: $desktop-width) {
    top: 88px;
    left: 320px;
  }
}

.companions-catalog__tag-item {
  padding-left: 4px;
  color: var(--basic-black);
}

.companions-catalog__text {
  padding-left: 18px;
  margin-bottom: -9px;
  margin-left: -2px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: -11px;
    margin-top: 17px;
  }
}

.companions-catalog__text-inner {
  background-color: var(--basic-white);
  padding-right: 10px;
  padding-left: 10px;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &--visit {
    display: inline;

    @media (min-width: $tablet-width) {
      margin-left: 58px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.companions-catalog__destinations {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid var(--basic-white-gray3);
  padding-top: 32px;
  padding-left: 26px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: -4px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 33px;
    padding-left: 37px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-top: none;
    grid-template-columns: 132px;
    padding-top: 0;
    padding-left: 0;
    grid-gap: 13px;
    top: 53px;
    left: 674px;
  }
}

.companions-catalog__destinations-item {
  display: flex;
  vertical-align: baseline;
  position: relative;
  margin-top: 8px;
  text-transform: uppercase;

  &:nth-child(2) {
    padding-left: 1px;
  }

  &:nth-child(3) {
    padding-left: 1px;
  }

  @media (min-width: $tablet-width) {
    white-space: nowrap;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-right: 28px;
  }
}

.companions-catalog__destinations-item:nth-child(1) {
  margin-top: 0;
}

.companions-catalog__flag {
  padding-right: 14px;

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 24px;
    padding-right: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 18px;
  }
}

.companions-catalog__transports {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-left: 21px;
  padding-top: 4px;
  border-top: 1px solid var(--basic-white-gray3);

  @media (min-width: $tablet-width) {
    position: absolute;
    flex-direction: column;
    top: 30px;
    right: 40px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    top: 195px;
    right: 153px;
  }
}

.companions-catalog__transports-item-wrapper {
  background-color: var(--basic-blue-pale);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    margin-top: 0;
  }
}

.companions-catalog__transports-item {
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  opacity: 0.15;

  @media (min-width: $tablet-width) {
    background-size: 64%;
  }

  &--active {
    opacity: 1;
  }

  &--plane {
    background-image: url("../img/plane.svg");
  }

  &--bus {
    background-image: url("../img/bus.svg");
  }

  &--bike {
    background-image: url("../img/bike.svg");
  }

  &--walk {
    background-image: url("../img/run.svg");
  }
}

.companions-catalog__lvl {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 85px;
  left: 212px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    left: 621px;
    top: 180px;
  }

  @media (min-width: $desktop-width) {
    left: 863px;
    top: 195px;
  }

  &::after {
    position: absolute;
    height: 43px;
    transform: translate(50%, 0);
    width: 26px;
    top: -13px;
  }

  &--25 {
    &::after {
      content: url("../img/catalog-25.svg");
      right: 1px;

      @media (min-width: $tablet-width) {
        content: url("../img/catalog-25-big.svg");
      }
    }
  }

  &--50 {
    &::after {
      content: url("../img/catalog-50.svg");
      right: 1px;

      @media (min-width: $tablet-width) {
        content: url("../img/catalog-50-big.svg");
      }
    }
  }

  &--80 {
    &::after {
      content: url("../img/catalog-80.svg");
      right: 23px;

      @media (min-width: $tablet-width) {
        content: url("../img/catalog-80-big.svg");
        right: 31px;
      }
    }
  }

  &--99 {
    &::after {
      content: url("../img/catalog-99.svg");
      right: 27px;

      @media (min-width: $tablet-width) {
        content: url("../img/catalog-99-big.svg");
        right: 31px;
      }
    }
  }
}

.companions-catalog__lvl-desc {
  position: relative;
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-black);
  opacity: 0.4;

  &::before {
    position: absolute;
    left: -3px;
    top: -1px;
    content: "";
    width: 31px;
    height: 1px;
    opacity: 0.1;
    background-color: var(--basic-black);
  }

  @media (min-width: $tablet-width) {
    display: inline;
    padding-top: 2px;
  }
}

.companions-catalog__lvl-text {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 14px;
  bottom: 129px;
}

.companions-catalog__button {
  margin-top: 20px;
  margin-left: 21px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 109px;
    left: 233px;
  }

  @media (min-width: $desktop-width) {
    bottom: 47px;
    left: 318px;
  }

  &--fix {
    position: relative;
    bottom: -6px;

    @media (min-width: $tablet-width) {
      position: absolute;
      bottom: 109px;
    }

    @media (min-width: $desktop-width) {
      bottom: 47px;
    }
  }
}

.companions-catalog__text-btn {
  position: relative;
  display: block;
  text-decoration: none;
  margin-top: 19px;
  margin-left: 93px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-blue-light);

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    margin-left: 299px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 66px;
    margin-left: 396px;
  }

  &::before {
    content: url("../img/button-plus-blue.svg");
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 9px;
    left: -33px;

    @media (min-width: $tablet-width) {
      content: url("../img/button-plus-blue-big.svg");
      bottom: 5px;
      left: -51px;
    }
  }
}

.companions-catalog__pagination {
  width: 270px;
  min-height: 51px;
  margin-top: 18px;
  margin-bottom: 71px;

  @media (min-width: $tablet-width) {
    margin-top: 53px;
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
    margin-bottom: 103px;
  }
}
