.directions {
  background-color: var(--basic-blue-pale);
}

.directions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: inherit;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    background-image: url("../img/flags-back@1x.png"),
      url("../img/directions-square.png");
    background-repeat: no-repeat no-repeat;
    background-position: top 135px right 39px, top 462px left 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    background-position: top 135px right 58px, top 136px left 60px;
  }
}

.directions__desc-wrapper {
  @media (min-width: $desktop-width) {
    width: 378px;
    padding-right: 180px;
  }
}

.directions__title {
  @include reset;
  margin-left: 25px;
  padding-top: 67px;

  @media (min-width: $tablet-width) {
    margin-left: 32px;
    padding-top: 124px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 209px;
    padding-left: 7px;
  }
}

.directions__text {
  @include reset;
  padding-top: 17px;
  padding-bottom: 53px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 300;
  width: 200px;
  font-size: 16px;
  line-height: 22px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 378px;
    font-size: 28px;
    line-height: 33px;
    padding-top: 59px;
    margin-left: 35px;

    br {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 40px;
  }
}

.directions__directions-list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    padding-left: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 180px;
  }
}

.directions__button {
  align-self: center;
  margin-top: 26px;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-top: 45px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 302px;
    bottom: 58px;
  }
}
