.directions-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 562px;
    margin-top: 17px;
    margin-left: 32px;
    margin-bottom: 92px;
  }
}

.directions-list__item-wrapper {
  position: relative;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    width: 616px;
    min-height: 140px;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    width: 559px;
  }
}

.directions-list__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    width: 100%;
    min-height: 140px;
  }

  /* @media (min-width: $desktop-width) {

  } */
}

.directions-list__pic-wrapper {
  @include reset;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 140px; /*обертка фото. иначе фото растет*/
  }
}

.directions-list__pic {
  @include reset;
  border-radius: 10px 10px 0 0;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    border-radius: 0 22px 22px 0;
  }
}

.directions-list__description-wrapper {
  background-color: var(--basic-white);
  min-height: 89px;
  border-radius: 10px;
  margin-top: -15px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: 431px;
    border-radius: 22px 0 0 22px;
  }

  @media (min-width: $desktop-width) {
    width: 376px;
  }
}

.directions-list__name {
  @include reset;
  padding-top: 24px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    padding-top: 30px;
    margin-left: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    margin-left: 30px;
  }

  &--thailand::before {
    position: absolute;
    left: 25px;
    top: 85px;
    content: url("../img/flag-thailand-small.svg");

    @media (min-width: $tablet-width) {
      left: 395px;
      top: 17px;
      content: url("../img/flag-thailand.svg");
    }

    @media (min-width: $desktop-width) {
      left: 338px;
      top: 23px;
    }
  }

  &--france::before {
    position: absolute;
    left: 24px;
    top: 85px;
    content: url("../img/flag-france-small.svg");

    @media (min-width: $tablet-width) {
      left: 395px;
      top: 17px;
      content: url("../img/flag-france.svg");
    }

    @media (min-width: $desktop-width) {
      left: 338px;
      top: 23px;
    }
  }

  &--czech::before {
    position: absolute;
    left: 24px;
    top: 85px;
    content: url("../img/flag-czech-small.svg");

    @media (min-width: $tablet-width) {
      left: 395px;
      top: 15px;
      content: url("../img/flag-czech.svg");
    }

    @media (min-width: $desktop-width) {
      left: 338px;
      top: 23px;
    }
  }
}

.directions-list__slogan {
  @include reset;
  color: var(--basic-blue-semi-light);
  margin-left: 24px;
  padding-top: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.035em;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 27px;
    padding-top: 4px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 32px;
    padding-top: 3px;
  }
}

.directions-list__people {
  @include reset;
  color: var(--basic-blue-semi-light);
  position: absolute;
  text-align: right;
  bottom: 45px;
  right: 24px;
  font-weight: 600;

  @media (min-width: $tablet-width) {
    bottom: 23px;
    right: 508px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    bottom: 23px;
    right: 446px;
  }

  &::before {
    position: absolute;
    right: 47px;
    bottom: -1px;
    content: url("../img/user-liked.svg");

    @media (min-width: $tablet-width) {
      content: url("../img/user-liked-big.svg");
      bottom: -4px;
      right: 63px;
    }
  }
}

.directions-list__button {
  margin: 25px;
}
