.feedback {
  position: relative;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.feedback__item {
  @include reset;
  padding-top: 50px;
  padding-left: 25px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 270px;
    background-color: transparent;
    top: -555px;
    left: 48px;
    z-index: 3;
    padding-top: 43px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: transparent;
    top: -575px;
    left: 1069px;
  }
}

.feedback__text {
  @include reset;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

.feedback__text--emphasis {
  padding-top: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 24px;
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    font-size: 21px;
    line-height: 24px;
  }
}
