.filter {
  position: relative;
  box-sizing: border-box;
  background-color: var(--basic-blue-pale); /*проверить цвет по фигме*/
  color: var(--basic-blue-light);
}

.filter__title-main {
  @include reset;
  padding-top: 26px;
  padding-bottom: 23px;
  width: 145px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;

  @media screen and (min-width: 768px) {
    width: 480px;
    font-size: 30px;
    line-height: 30px;
  }

  @media screen and (min-width: 1440px) {
    width: 191px;
  }
}

.filter__form {
  box-sizing: border-box;
  background-color: var(--basic-yellow);
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 22px;
  border-radius: 25px;

  @media screen and (min-width: 768px) {
    height: 550px;
    width: 688px;
    right: 60px;
  }

  @media screen and (min-width: 1440px) {
    width: 285px;
    height: 814px;
    position: absolute;
  }
}

.filter__filtration-wrapper {
  @include reset;
  position: relative;
  border: none;
  border-top: 1px solid var(--basic-yellow-orange);

  /*   &--lvl {

  } */
}

.filter__title {
  position: absolute;
  top: 10px;
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &::after {
    content: "";
    width: 10px;
    height: 6px;
    background-image: url("../img/dropdown-blue.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 219px;
    top: 25%;
    transform: translate(0, 50%);
  }

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  @media screen and (min-width: 1440px) {
    line-height: 22px;
  }
}

.filter__item-filter-list {
  @include reset-list;
  padding-top: 44px;
  padding-bottom: 20px;
  padding-left: 27px;
  /* добавить модфикатор open*/

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 120px;
  }

  @media screen and (min-width: 1440px) {
    display: block;
    padding-top: 44px;
    padding-bottom: 20px;
    padding-left: 27px;
  }
}

.filter__list-option {
  color: var(--basic-black);
  padding-top: 12px;
}

.filter__list-option-label {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  &::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: var(--basic-white);
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    min-width: 114px;
    margin-left: 35px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 0;
  }
}

.filter__item-filter-list-transport {
  @include reset-list;
  display: flex;
  padding-top: 44px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 120px;
    padding-top: 0;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 0;
    padding-top: 44px;
  }
}

.filter__list-option-label-transport {
  display: block;
  background-color: var(--basic-white);
  margin-left: 1px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
}

.filter__transport-pic {
  width: 16px;
  height: 16px;
  padding-top: 7px;
  opacity: 0.15;

  &--active {
    opacity: 1;
  }
}

.filter__lvl-range-wrapper {
  display: flex;
  height: 34px;
  padding-top: 41px;
  border-radius: 4px;
}

.filter__lvl-range {
  display: flex;
  flex-grow: 1;
}

.filter__lvl-input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--basic-white-gray);
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: var(--basic-blue);
  padding-left: 48px;
}

.filter__lvl-input--min {
  border-radius: 4px 0 0 4px;
}

.filter__lvl-input--max {
  position: relative;
  margin-left: -2px;
  padding-left: 42px;
  border-radius: 0 4px 4px 0;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 16px;
    height: 11px;
    background-color: var(--basic-white-gray); /* не отображается */
    z-index: 10;
  }
}

/* Range filter*/

.filter__lvl-range-controls {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter__lvl-range-scale {
  width: 220px;
  height: 2px;
  background: var(--basic-blue-light);
  opacity: 0.2;
}

.filter__lvl-range-bar {
  background: var(--basic-blue-light);
  width: 153px;
  height: 2px;
}

.filter__lvl-range-toggle {
  position: absolute;
  top: 16px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--basic-blue-light);

  &--min {
    left: 67px;
  }

  &--max {
    left: 210px;
  }
}

/* .filter__button {

} */
