.footer {
  display: flex;
  border-radius: 25px 25px 0 0;
  background-color: var(--basic-white);
  z-index: 1;

  @media screen and (min-width: 320px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    border-radius: 35px 35px 0 0;
  }

  @media screen and (min-width: 1440px) {
    height: 154px;
  }
}

.footer__logo {
  margin-top: 37px;
  width: 100px;
}

.footer__social {
  @include reset-list;
  display: flex;
}

.footer__social-item {
  margin-top: 40px;
}

.footer__item-link {
  display: flex;
  border-radius: 50%;
  background-color: var(--basic-yellow);
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 320px) {
    width: 44px;
    height: 44px;
  }

  @media screen and (min-width: 768px) {
    width: 62px;
    height: 62px;
  }

  &--fb {
    background-image: url("../img/facebook-blue.svg");
    background-size: 25%;
  }

  &--vk {
    background-image: url("../img/vk-blue.svg");
    background-size: 50%;
  }

  &--instagram {
    background-image: url("../img/instagram-blue.svg");
    background-size: 40%;
  }
}

.footer__developer-wrapper {
  color: var(--special-grey-light);
  margin-top: 37px;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--special-grey-pale);
  padding-top: 13px;
  font-style: normal;
  font-weight: 400;

  @media screen and (min-width: 320px) {
    width: 270px;
    font-size: 16px;
    line-height: 16px;
  }

  @media screen and (min-width: 768px) {
    width: 160px;
    border-top: none;
    font-size: 20px;
    line-height: 20px;
  }
}

.footer__developed-by {
  @include reset;
  display: flex;
  padding-top: 2px;
}
