.footer__container {
  box-sizing: border-box;
  display: flex;
  background-color: transparent;
  z-index: 1;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
    border-radius: 35px 35px 0 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 154px;
  }
}

.footer__logo {
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
  }
}

.footer__social {
  @include reset-list;
  display: flex;
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-right: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
    margin-right: 52px;
  }
}

.footer__item-link {
  display: flex;
  border-radius: 50%;
  background-color: var(--basic-yellow);
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;
  }

  &--fb {
    background-image: url("../img/facebook-blue.svg");
    background-size: 25%;
  }

  &--vk {
    background-image: url("../img/vk-blue.svg");
    background-size: 50%;
  }

  &--instagram {
    background-image: url("../img/instagram-blue.svg");
    background-size: 40%;
  }
}

.footer__developer-wrapper {
  color: var(--special-grey-light);
  margin-top: 35px;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--special-grey-pale);
  font-style: normal;
  font-weight: 400;
  width: 270px;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    width: 153px;
    border-top: none;
    font-size: 20px;
    line-height: 20px;
    margin-top: 22px;
  }
}

.footer__developer-link {
  @media (min-width: $tablet-width) {
    margin-top: 6px;
  }
}

.footer__developed-by {
  @include reset;
  display: flex;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 1px;
  }
}

.footer__developer-logo {
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-top: -6px;
  }
}

.footer {
  &--secondary {
    margin-top: 0;
    border-radius: 25px 25px 0 0;
    background-color: var(--basic-white);
    z-index: 1;

    @media (min-width: $tablet-width) {
      border-radius: 55px 55px 0 0;
    }
  }
}
