.form {
  /* @include width-container (0, 0, 0); */
  background-color: var(--basic-white-gray5);
  box-sizing: border-box;
}

.form__companion-card {
  /* @include width-container (25px, 75px, 124px); */
  /* min-height: 475px; */
}

.form__my-plan {

  /* min-height: 483px; */

  &::before {
    @include radius;
    border-radius: 25px 25px 0 0;
    top: -29px;
  }
}

.form__steps-wrapper {
  @include reset;
  /* @include width-container  (25px, 75px, 124px); */
  background-color: var(--basic-white-gray7);
  /* width: 320px; */
  padding-bottom: 9px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-bottom: 27px;
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 36px;
  }

  &::before {
    @include radius(48px, 29px);
    border-radius: 25px 25px 0 0;
    top: -29px;
  }
}
