.our-address {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--basic-yellow);

  @media screen and (min-width: 1440px) {
    justify-content: center;
  }
}

.our-address__description {
  display: flex;

  @media screen and (min-width: 320px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1440px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.our-address__text-address {
  position: relative;

  text-align: left;
  margin-top: 58px;
  margin-left: 61px;
  color: var(--basic-blue-light);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (min-width: 320px) {
    width: 143px;
    font-size: 16px;
    line-height: 22px;
  }

  @media screen and (min-width: 768px) {
    width: 430px;
    font-size: 28px;
    line-height: 28px;
    align-self: center;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -61px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-image: url("../img/contacts-location-yellow.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-color: var(--special-blue-dark);
    background-position: center;
  }
}

.our-address__button {
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    margin-left: 35px;
  }
}
