.our-address {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--basic-yellow);

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.our-address__description {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.our-address__text-address {
  position: relative;
  text-align: left;
  margin-top: 60px;
  margin-left: 61px;
  color: var(--basic-blue-light);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  width: 143px;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    width: 430px;
    font-size: 28px;
    line-height: 28px;
    align-self: center;
    margin-top: 122px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 108px;
    margin-left: 270px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -61px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-image: url("../img/contacts-location-yellow.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-color: var(--special-blue-dark);
    background-position: center;

    @media (min-width: $tablet-width) {
      background-image: url("../img/contacts-location-yellow-big.svg");
      height: 68px;
      width: 68px;
      bottom: -21px;
      left: -93px;
    }

    @media (min-width: $desktop-width) {
      height: 90px;
      width: 90px;
      bottom: -31px;
      left: -120px;
    }
  }
}

.our-address__button {
  margin-top: 34px;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
    margin-top: 64px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 115px;
    margin-bottom: 5px;
  }
}
