.page-main {
  position: relative;
  box-sizing: border-box;
  color: var(--basic-blue);
}

.page-main__hero {
  min-height: 383px;
  background-color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    background-color: var(--basic-blue-light-dark);
  }

  @media (min-width: $desktop-width) {
    border-radius: 0 0 47px 47px;
  }
}

.page-main__feedback {
  min-height: 215px;

  @media (min-width: $tablet-width) {
    min-height: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 0;
  }
}

.page-main__how-to-use {
  position: relative;
  background-color: var(--basic-blue-light);

  /* &::after {
    @include radius;
    z-index: 1;
  } */

  @media (min-width: $tablet-width) {
    padding-top: 140px;

    &::after {
      @include radius(55px, 55px);
      z-index: 1;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;

    &::after {
      display: none;
    }
  }
}

.page-main__about-us {
  box-sizing: border-box;
  z-index: 1;
  min-height: 100%;

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.page-main__directions {
  position: relative;
  margin-top: -30px;
  padding-top: 30px;

  &::after {
    @include radius;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    &::after {
      @include radius(55px, 55px);
      z-index: 1;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -77px;
  }
}

.page-main__directions-list {
  width: 270px;
  min-height: 188px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.page-main__companions {
  position: relative;

  &::after {
    @include radius;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    &::after {
      @include radius(55px, 55px);
      z-index: 1;
    }
  }
}

.page-main__tariff {
  position: relative;

  &::after {
    @include radius;
    z-index: 1;

    @media (min-width: $tablet-width) {
      @include radius(55px, 55px);
    }
  }
}

.page-main__registration {
  position: relative;

  &::after {
    @include radius;
    z-index: 1;

    @media (min-width: $tablet-width) {
      @include radius(55px, 55px);
    }
  }
}

.page-main__our-address {
  position: relative;

  &::after {
    @include radius;
    z-index: 1;

    @media (min-width: $tablet-width) {
      @include radius(55px, 55px);
    }
  }
}

.page-main__map {
  min-height: 320px;
  background-repeat: no-repeat;
  background-image: url("../img/map-mobile.jpg");

  @media (min-width: $tablet-width) {
    min-height: 550px;
    background-image: url("../img/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    min-height: 482px;
    background-image: url("../img/map-desktop.jpg");
  }
}

.page-main__footer {
  min-height: 239px;
  border-radius: 25px 25px 0 0;
}

/* Catalog page */

.page-main__companions-catalog {
  margin-bottom: -25px;

  @media (min-width: $desktop-width) {
    /* min-height: 4883px; */
  }
}

.page-main__country-filter {
  position: relative;
  z-index: 2;
  min-height: 17px;
  border-radius: 0 0 25px 25px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 55px 55px;
  }

  /* &::after {
    @include radius;
    z-index: 1;
  } */
}

.page-main__filter {
  padding-top: 52px;
  margin-top: -30px;
}
