.pagination {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  @media screen and (min-width: 768px) {
    width: 688px;
    height: 100px;
    background-color: var(--basic-white);
    border-radius: 20px;
    padding-left: 48px;
  }

  @media screen and (min-width: 1440px) {
    width: 948px;
  }
}

.pagination__pages-wrapper {
  @include reset-list;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;

  @media screen and (min-width: 320px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: grid;
  }
}

.pagination__page-link {
  text-decoration: none;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &--active {
    background-color: var(--basic-yellow);
  }
}

.pagination_button-wrapper {
  box-sizing: border-box;
  display: flex;
  min-height: 62px;
  width: 270px;
}

.pagination__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-white);
  flex-grow: 1;
  text-decoration: none;

  &--prev {
    border-radius: 25px 0 0 25px;
    margin-right: 1px;
  }

  &--prev::before {
    content: url("../img/dropdown-blue.svg");
    position: absolute;
    left: 50%;
    height: 10px;
    width: 18px;
    transform: rotate(90deg);
  }

  &--next {
    border-radius: 0 25px 25px 0;
  }

  &--next::before {
    content: url("../img/dropdown-blue.svg");
    position: absolute;
    right: 50%;
    height: 10px;
    width: 18px;
    transform: rotate(270deg);
  }
}
