.registration {
  background-color: var(--basic-blue-dark);
  color: var(--basic-white);
}

.registration__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration__title {
  margin-top: 99px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 126px;
    margin-left: 3px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 158px;
  }
}

.registration__text {
  @include reset;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  width: 211px;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    width: 655px;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.registration__login-link {
  @include reset;
  display: inline;
  color: var(--basic-yellow);

  &:hover {
    color: var(--special-orange);
  }

  &:active {
    color: var(--special-orange);
    opacity: 0.3;
  }
}

.registration__login-form {
  margin-top: 29px;
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
    margin-top: 28px;
    margin-left: 0;
  }
}

.registration__email-field {
  box-sizing: border-box;
  border: none;
  border-radius: 10px 0 0 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding-left: 25px;
  color: var(--basic-blue-semi-light);
  width: 220px;
  height: 62px;

  &:focus-within {
    border: 4px solid var(--basic-white);
    background-color: var(--basic-blue-dark);
    color: var(--basic-white);
  }

  &:invalid {
    color: var(--basic-red);
  }

  @media (min-width: $tablet-width) {
    width: 536px;
    height: 80px;
    border-radius: 20px 0 0 20px;
    font-size: 24px;
    line-height: 24px;
    padding-left: 35px;
    color: var(--special-grey-light-transp); /*цвет тот*/
  }

  @media (min-width: $desktop-width) {
    width: 850px;
    height: 80px;
  }
}


/*через запятую не работают*/
.registration__email-field::-webkit-input-placeholder {
  color: var(--special-grey-light-transp);
}


.registration__email-field:hover::-webkit-input-placeholder {
  color: var(--placeholder);
}

.registration__email-field:focus-within::-webkit-input-placeholder {
  color: var(--basic-white);
}


/*через запятую не работают*/
.registration__email-field::-moz-placeholder {
  color: var(--special-grey-light-transp);
}

.registration__email-field:hover::-moz-placeholder {
  color: var(--placeholder);
}

.registration__email-field:focus-within::-moz-placeholder {
  color: var(--basic-white);
}


.registration__button-form {
  @include reset;
  position: relative;
  margin-left: -10px;
  width: 60px;
  border-radius: 10px;
  border: none;
  background-color: var(--basic-yellow);
  font-family: inherit;
  text-align: left;
  cursor: pointer;

  &:hover {
    background-color: var(--special-yellow-dark);
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    border-radius: 0 20px 20px 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }

  &::after {
    position: absolute;
    content: url("../img/email-arrow-blue.svg");
    left: 26px;
    top: 53%;
    transform: translate(0, -50%);

    @media (min-width: $tablet-width) {
      left: 35px;
    }

    @media (min-width: $desktop-width) {
      left: 278px;
    }
  }

  &:active::after {
    content: url("../img/email-arrow-blue-transp.svg");
  }
}


.registration__button-form:active .registration__button-form-text {
  color: var(--btn-modal4);
}

.registration__button-form-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--basic-blue-light);
    padding-left: 36px;
  }
}

.registration__text--bottom {
  text-align: center;
  margin-top: 29px;
  width: 216px;
  letter-spacing: 0.01em;
  margin-left: 4px;

  @media (min-width: $tablet-width) {
    width: 614px;
    margin-left: 8px;
  }

  @media (min-width: $desktop-width) {
    width: 614px;
    margin-left: -10px;
    margin-top: 40px;
  }
}

.registration__contacts {
  margin: 0;
  margin-top: 30px;
  margin-left: 28px;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    width: 614px;
    margin-top: 26px;
    margin-bottom: 24px;
    margin-left: 178px;
  }

  @media (min-width: $desktop-width) {
    width: 900px;
    margin-top: 43px;
    margin-left: 117px;
    margin-bottom: 79px;
  }
}
