.header-submenu--json {
  display: none;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-header--opened {
  position: relative;
  box-sizing: border-box;
  z-index: 4;
  width: 320px;
  position: absolute;
  background-color: var(--basic-white);
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  border: 1px solid var(--basic-black);

  @media (min-width: $tablet-width) {
    width: 768px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    top: 750px;
  }
}

.header-submenu__logo {
  display: block;
  padding-top: 26px;
  padding-left: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-left: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 21px;
    padding-left: 60px;
    width: 250px;
  }
}

.header-submenu__nav-wrapper {
  margin-top: -12px;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 43px;
    left: 274px;
  }
}

.header-submenu__nav-list {
  @include reset-list;
  font-style: normal;
  font-weight: 600; /* не по макету. подобрано*/
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-weight: 600;
    font-size: 60px;
    line-height: 71px;
    text-align: left;
    margin-left: 97px;
    padding-top: 5px;
    margin-bottom: 154px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    font-weight: 600; /* не по макету. подобрано*/
    font-size: 20px;
    line-height: 20px;

    &::before {
      content: "";
      position: absolute;
      width: 44px;
      height: 2px;
      top: 14px;
      left: 42px;
      background-color: var(--basic-blue-dark);
    }
  }
}

.header-submenu__link {
  text-decoration: none;
  color: var(--basic-blue-dark);

  @media (min-width: $desktop-width) {
    margin-left: 34px;
  }
}

.header-submenu__button {
  margin-top: 54px;
  margin-left: 24px;
  margin-bottom: 64px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -15px;
    right: 39px;
  }

  @media (min-width: $desktop-width) {
    top: -33px;
    right: 60px;
  }
}

.header-submenu__contacts {
  margin-left: 86px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-left: 188px;
    margin-bottom: 132px;
  }

  @media (min-width: $tablet-width) {
    @include reset;
    top: 0;
    right: 0;
  }
}

.header-submenu__contacts .contact-list__item {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-blue-dark);

  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
  }

  &::before {
    @media (min-width: $desktop-width) {
      display: flex;
      width: 50px;
      height: 50px;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: center center;
      top: 0;
      right: 0;
    }
  }

  &--phone {
    &::before {
      top: -14px;

      @media (min-width: $tablet-width) {
        top: -19px;
      }

      @media (min-width: $desktop-width) {
        background-image: url(../img/topmenu-phone.svg);
        background-color: var(--special-orange);
      }
    }
  }

  &--email {
    &::before {
      top: -14px;

      @media (min-width: $tablet-width) {
        top: -17px;
      }

      @media (min-width: $desktop-width) {
        background-image: url(../img/topmenu-mail.svg);
        background-color: var(--special-yellow-dark);
      }
    }
  }
}

.contact-list__descr {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-submenu__social {
  margin-left: 55px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

/* .contact-list__contact-item-wrapper {
  @media (min-width: $desktop-width) {
    @include reset;
  }
} */

.header-submenu__contacts .contact-list__contact-item-wrapper:nth-child(2) {
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 38px;
  }
}
