.companions-catalog {
  background-color: var(--basic-blue-pale);
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  color: #1d2e5b;
}

.companions-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 270px;
}

.companions-catalog__item-wrapper {
  position: relative;
  background-color: var(--basic-white);
  margin-top: 10px;
  border-radius: 20px;
}

.companions-catalog__item {
  box-sizing: border-box;
  margin-left: 18px;
  padding-top: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    right: 22px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f97676;
  }

  &--online::before {
    content: "";
    background-color: #bbf085;
  }
}

.companions-catalog__desc-wrapper {
  display: flex;
}

.companions-catalog__avatar-link {
  position: relative;

  &::after {
    position: absolute;
    bottom: 4px;
    left: 50px;
    content: "";
    width: 31px;
    height: 31px;
    background-image: url("/img/heart.svg");
    background-color: #e2e5f2;
    background-size: 40%;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center center;
  }

  &--liked::after {
    content: "";
    background-image: url("/img/heart-active-red.svg");
    background-color: #f9eaea;
  }
}

.companions-catalog__avatar {
  border-radius: 50%;
}

.companions-catalog__name {
  margin: 0;
  padding: 0;
  margin-left: 16px;
  text-decoration: none;
}

.companions-catalog__name-link {
  text-decoration: none;
}

.companions-catalog__likes {
  position: absolute;
  top: 63px;
  left: 104px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.companions-catalog__tag-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 8px;
  margin-top: 13px;
  width: 176px;
}

.companions-catalog__text {
  margin-left: 8px;
}

.companions-catalog__destinations {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 47px;
}

.companions-catalog__destinations-item {
  position: relative;
  margin-top: 12px;
  text-transform: uppercase;

  &--sri-lanka::before {
    @include catalog-countries-list-flag(url("/img/flag-sri-lanka.png"));
  }

  &--thailand::before {
    @include catalog-countries-list-flag(url("/img/flag-thailand.png"));
  }

  &--seychelles::before {
    @include catalog-countries-list-flag(url("/img/flag-seychelles.png"));
  }

  &--belgium::before {
    @include catalog-countries-list-flag(url("/img/flag-belgium.png"));
  }

  &--czech::before {
    @include catalog-countries-list-flag(url("/img/flag-czech.png"));
  }

  &--usa::before {
    @include catalog-countries-list-flag(url("/img/flag-usa.png"));
  }

  &--austria::before {
    @include catalog-countries-list-flag(url("/img/flag-austria.png"));
  }

  &--dominica::before {
    @include catalog-countries-list-flag(url("/img/flag-dominica.png"));
  }

  &--uk::before {
    @include catalog-countries-list-flag(url("/img/flag-uk.png"));
  }

  &_--germany::before {
    @include catalog-countries-list-flag(url("/img/flag-germany.png"));
  }
}

.companions-catalog__transports {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: 4px;
}

.companions-catalog__transports-item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--basic-blue-pale);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;

  &--plane {
    background-image: url("/img/plane.svg");
  }

  &--bus {
    background-image: url("/img/bus.svg");
  }

  &--bike {
    background-image: url("/img/bike.svg");
  }

  &_--walk {
    background-image: url("/img/run.svg");
  }
}

.companions-catalog__lvl {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 50px;
  right: 0;
}

.companions-catalog__lvl-text {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 50px;
  right: 0;
}

.companions-catalog__button {
  display: flex;
  margin-top: 13px;
  align-self: center;
}

.companions-catalog__text-btn {
  position: relative;
  text-decoration: none;
  margin-top: 18px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-blue-light);

  &::before {
    content: url("/img/button-plus-blue.svg");
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 9px;
    left: -33px;
  }
}

.companions-catalog__pagination {
  width: 270px;
  height: 51px;
  margin-top: 18px;
}
