.companions {
  background-color: var(--basic-blue-dark);
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companions__title {
  align-self: start;
  margin-left: 49px;
}

.companions__title-link {
  margin-top: 10px;
}

.companions__text {
  align-self: start;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-left: 51px;

  &--bold {
    font-weight: 600;
  }
}

.companions__show-all {
  margin-top: 20px;
}
