.feedback {
  background-color: var(--basic-blue);
}

.feedback__item {
  margin-top: 48px;
  margin-left: 50px;
}

.feedback__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.feedback__text--bold {
  font-weight: bold;
}
