@mixin catalog-countries-list-flag($background-image) {
  background-image: $background-image;
  content: '';
  background-size: contain;
  width: 26px;
  height: 18px;
  position: absolute;
  bottom: 1px;
  left: -39px;
  background-repeat: no-repeat;
}